{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock %} </title>
    {% block css_additional %}
{#        <link rel="stylesheet" href="{% static 'home/css/style.css' %}">#}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    {% endblock %}
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Portfolio</a>
            <button class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
<script type="text/javascript" src="{% static 'home/js/jquery-3.2.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
</body>
</html>