@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}


a:focus {
  text-decoration: none;
}





a,
button {
  color: #1F1F1F;
  outline: medium none;
}


h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  color: #001D38;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}


ul {
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
}


p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}


h3 {
  font-size: 24px;
}


.mb-65 {
  margin-bottom: 67px;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.boxed-btn3-line {
  color: #DB9A64 !important;
  display: inline-block;
  padding: 17px 49px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #DB9A64;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}


.boxed-btn3-line:hover {
  color: #fff !important;
  border: 1px solid transparent;
  background: #DB9A64;
}


.boxed-btn3-line:focus {
  outline: none;
}


.boxed-btn3-line.large-width {
  width: 220px;
}

.section_title h3 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 0;
  padding-bottom: 0px;
}

@media (max-width: 767px) {
  
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  
  .section_title h3 br {
    display: none;
  }
}


.section_title p {
  font-size: 20px;
  color: #F91842;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
 
  .section_title p br {
    display: none;
  }
}

.section_title h4 {
  font-size: 22px;
  font-weight: 500;
  color: #001D38;
  padding-bottom: 21px;
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
 
  .mb-60 {
    margin-bottom: 40px;
  }
}


.mb-60 {
  margin-bottom: 50px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .mb-60 {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 767px) {
  /* line 52, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_section_title.scss */
  .mb-60 {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 767px) {
  /* line 4, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_slick-nav.scss */
  .mobile_menu {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9;
  }
}



.slider_bg_1 {
  width: 100%;
  height: 900px;
  background-image: url('../img/banner/1644943188_47-phonoteka-org-p-dvoichnii-kod-fon-53.jpg');

}



.slider_area {
  position: relative;
  z-index: 0;
}


.slider_area .single_slider {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {

  .slider_area .single_slider {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider {
    height: 600px;
  }
}


.slider_area .single_slider .slider_text {
  padding: 303px 0;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .slider_area .single_slider .slider_text {
    padding: 130px 0;
  }
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .slider_text {
    padding: 130px 0;
  }
}


.slider_area .single_slider .slider_text.about_slide {
  padding: 241px 0 258px 0;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .slider_area .single_slider .slider_text.about_slide {
    padding: 130px 0;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text.about_slide {
    padding: 130px 0;
  }
}


.slider_area .single_slider .slider_text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 90px;
  color: #fff;
  margin-bottom: 55px;
}


.slider_area .single_slider .slider_text h3 span {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .slider_area .single_slider .slider_text h3 {
    font-size: 54px;

  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .slider_area .single_slider .slider_text h3 {
    font-size: 70px;
  }
}


.slider_area .single_slider .slider_text p {
  font-size: 30px;
  font-weight: 400;
  color: #F91842;
  font-family: "Roboto", sans-serif;
  margin-bottom: 24px;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {

  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}


.slider_area .single_slider .my_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .slider_area .single_slider .my_img {
    width: 290px;
  }
}


.slider_area .single_slider .my_img img {
  width: 100%;
}




.download_area {
  padding: 110px 0 90px 0;
  background: #000000;
}

@media (max-width: 767px) {

  .download_area {
    padding: 90px 0;
  }
}


.download_area .download_text h3 {
  font-size: 36px;
  color: #fff;
  line-height: 46px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {

  .download_area .download_text h3 {
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    margin-bottom: 20px;
  }
}


.download_area .download_left {
  margin-bottom: 30px;
}


.download_area .download_left p {
  font-size: 16px;
  line-height: 28px;
  color: #C9C9C9;
  margin: 20px 0;
}


.download_area .download_left .boxed-btn3-line {
  margin-top: 28px;
}


.download_area .progress_skills .single_progress {
  margin-bottom: 33px;
}


.download_area .progress_skills .single_progress .label {
  margin-bottom: 16px;
}


.download_area .progress_skills .single_progress .label span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}


.download_area .progress_skills .single_progress .progress {
  height: 6px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #FFFFFF;
  border-radius: 5px;
}


.download_area .progress_skills .single_progress .progress .progress-bar {
  background: #DB9A64;
  border-radius: 5px;
}


.projects_details_area {
  background: #000000;
}


.projects_details_area .banner_img img {
  width: 100%;
}

.projects_details_area .pos_up {
  position: relative;
  margin-top: -450px;
}

@media (max-width: 767px) {
 
  .projects_details_area .pos_up {
    margin-top: -130px;
  }
}


.projects_details_area .details_info {
  padding-bottom: 120px;
  padding-top: 60px;
}

@media (max-width: 767px) {

  .projects_details_area .details_info {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}


.gallery_area {
  background: #000000;
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery_area .single_gallery .thumb img {
  width: 100%;
}

.gallery_area .single_gallery .gallery_heading {
  padding: 20px 0;
  margin-top: 7px;
  margin-bottom: 70px;
}

.gallery_area .single_gallery .gallery_heading span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 7px;
}

.gallery_area .single_gallery .gallery_heading h4 {
  font-size: 24px;
  font-weight: 400;
  color: #DB9A64;
}

.gallery_area .single_gallery .gallery_heading h4:hover {
  text-decoration: underline;
}

.gallery_area .more_works a {
  display: block !important;
}

.service_area {
  background: #3B2930;
  padding-bottom: 90px;
  padding-top: 120px;
}

.service_area.colord_bg {
  background: #000000;
}

.service_area .single_service {
  border: 1px solid #6B4B40;
  padding: 45px 30px;
  margin-bottom: 30px;
}

.service_area .single_service h3 {
  color: #DB9A64;
  margin-top: 22px;
  margin-bottom: 11px;
  font-weight: 400;
}

.service_area .single_service p {
  font-size: 16px;
  color: #C9C9C9;
  line-height: 28px;
  margin-bottom: 0;
}

.service_products {
  background: #000000;
  padding-top: 0px;
  padding-bottom: 60px;
}

.service_products .padding_left {
  padding-left: 68px;
}

@media (max-width: 767px) {
  .service_products .padding_left {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service_products .padding_left {
    padding-left: 0;
  }
}

.service_products .service_wrap {
  margin-bottom: 60px;
}

.service_products .service_wrap .thumb img {
  width: 100%;
}

.service_products .service_wrap .service_text {
  margin: 30px 0;
}

.service_products .service_wrap .service_text h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

.service_products .service_wrap .service_text p {
  color: #C9C9C9;
  font-size: 16px;
  line-height: 28px;
  margin: 30px 0;
}


.service_products .service_wrap .service_text .boxed-btn3-line {
  margin-top: 10px;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

b,
sup,
sub,
u,
del {
  color: #ff5e13;
}
